<div *ngIf="state$ | async as state" class="col">
  <app-toast></app-toast>
    <button routerLink="/dragon/create" class="button-confirm button">Criar um dragão</button>
     <table>
        <caption>Lista de Dragões</caption>
        <thead>
          <tr>
            <th><span class="title-coluns">name</span></th>
            <th><span class="title-coluns">tipo</span></th>
            <th>açoes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dragon of state.dragons">
            <td> <input type="text"  [name]="dragon.name"
                required
                [(ngModel)]="dragon.name" name="name" class="input-table"></td>
            <td><input type="text"  [name]="dragon.name"
                required
                [(ngModel)]="dragon.type" name="name" class="input-table"></td>
            <td><button [disabled]="canUpdate(dragon)" (click)="updateDragon(dragon)"><i src="assets/icons/edit.svg" alt="Edit Dragon"  class="icon-blue material-icons">edit</i></button> <button><i class="material-icons icon-red" alt="Delete Dragon" (click)="deleteDragon(dragon.id)">delete</i></button>
              <button [routerLink]="['/dragon',dragon.id]"><i src="assets/icons/detail.svg" alt="Edit Dragon" class="icon-green material-icons">remove_red_eye</i></button>
            </td>
          </tr>
         </tbody>
      </table>
</div>
